/* === Google Fonts === */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* === Global Css === */
@import url('./root.css');

/* ================= media ================*/
@media (min-width: 1920px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1808px;
    }
}

@media (max-width: 1200px) {
    body {
        padding-top: 80px;
    }
    header {
        height: 80px;
        left: 0;
        top: 0;
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color: var(--bg-white);
        padding-left: var(--bs-gutter-x);
        border-bottom: 1px solid var(--color-border);
    }
}

.container {
    max-width: 95%;
    width: 95%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: var(--color-5);
    line-height: 24px;
    color: var(--main-color);
}

.container-header {
    background-color: var(--bg-white);
    border-bottom: 1px solid var(--color-border);
}

.nav li {
    margin-left: 32px;
}

.nav li:first-child {
    margin-left: 0;
}

.nav-pills li {
    margin-left: 16px;
}

.nav-pills li:first-child {
    margin-left: 24px;
}

.nav-link {
    padding: 27px 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: var(--color-1);
}

.nav-link.active, .nav-link:hover, .nav-link:focus {
    color: var(--color-3);
}

.nav-link.active {
    border-bottom: 2px solid var(--color-3);
}

.logout {
    font-size: 24px;
    color: var(--main-color);
}

.logout:hover {
    color: var(--color-4);
}

.navbar-brand {
    background-image: url('../img/logo_desc_green.svg');
    width: 180px;
    height: 40px;
    display: block;
}

.navbar-brand-mob {
    background-image: url('../img/logo_mob_green.svg');
    width: 30px;
    height: 40px;
    display: block;
}

.burger-menu_button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  width: 80px;
  height: 80px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: var(--black-900);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -11px;
}
.burger-menu_lines::after {
  content: '';
  top: 11px;
}


.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 60px;
  position: fixed;
  top: -100%;
  width: 100%;
  left: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--bg-white);
  overflow-y: auto;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.burger-menu_nav .nav-link {
    color: var(--main-color);
}

.burger-menu_nav .nav-link.active, .burger-menu_nav .nav-link:hover, .burger-menu_nav .nav-link:focus {
    color: var(--color-3);
}


.burger-menu_active .burger-menu_nav {
  top: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
    background-color: var(--bg-white);
    border-radius: 16px;
    padding: 24px;
    border: none;
}

.contacts-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 40px;
    margin-inline-end: 24px;
    background-color: var(--color-5);
}

.contacts {
    padding: 50px 0;
}

.contacts-text p {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
}

.contacts-text a {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
}

.contacts-text a:hover {
    text-decoration: underline;
}

thead tr th {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: var(--color-1) !important;
    background-color: var(--color-5) !important;
    text-align: center;
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    box-shadow: none !important;
}

tbody tr td {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: var(--main-color) !important;
    background-color: var(--bg-white) !important;
}

.nav-pills .tab-link.active, .nav-pills .show>.tab-link {
    color: var(--color-3);
    background-color: var(--bg-white);
}

.nav-pills .tab-link {
    border-radius: 0;
}

.tab-content {
    min-height: 171px;
}

thead tr th,
tbody tr td {
    text-align: left;
}

.table>:not(caption)>*>* {
    padding: .5rem 1.2rem;
}

.tab-link {
    padding: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-1);
}

.mob-bet {
    border-bottom: 2px solid var(--color-border) !important;
    margin-bottom: 16px !important;
}

.mob-bet:last-child {
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

.empty {
    text-align: center;
    padding: 20px 0;
}

.empty .icon {
    font-size: 40px;
    color: var(--color-1);
}

.empty p{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}


.profile-info-wrapp {
    width: 100%;
}

.profile-info-wrapp span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}

.profile-info-icon {
    width: 75px;
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 40px;
    margin-inline-end: 24px;
    color: var(--color-3);
    background-color: var(--color-6);
}

.profile-table {
    margin-bottom: 0;
}

.profile-table td {
    padding: 4px 0;
    font-size: 14px;
    line-height: 24px;
}

.profile-table tr td:first-child {
    font-size: 12px;
    color: var(--color-1) !important;
}

.profile-table .balance {
    font-weight: 600;
    font-size: 16px;
    color: var(--main-color) !important;
}

.profile-table .verifications,
.profile-table .verifications-false {
    font-weight: 600;
    font-size: 14px;
    color: var(--color-3) !important;
}

.profile-table .verifications-false {
    font-weight: 400;
    color: var(--color-7) !important;
}

.no-border {
    border-bottom-width: 0 !important;
}

.empty-balance span {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
}