:root {
    --main-color: #181718;
    --color-1: #727073;
    --color-2: #F7FAF9;
    --color-3: #00A14A;
    --color-4: #00803B;
    --color-5: #F8F8FA;
    --color-6: #E9F4EE;
    --color-7: #FF4236;
    --color-8: #D0271C;
    --color-9: #B8B5BA;
    --color-border: #EAEAEB;
    --bg-white: #ffffff;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-alpha-100: rgba(172, 169, 169, 0.281);
    --block-radius: 24px;
}

.row {
    --bs-gutter-x: 24px;
}

@media (max-width: 767px) {
    .row {
        --bs-gutter-x: 16px;
    }
}

.btn {
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.btn-success {
    background-color: var(--color-3);
}

.btn-success:hover {
    background-color: var(--color-4);
}

.btn-danger {
    background-color: var(--color-7);
}

.btn-danger:hover {
    background-color: var(--color-8);
}

.btn-outline-primary {
    color: var(--color-3);
    border-color: var(--color-3);
}

.btn-outline-secondary {
    border-color: var(--color-9);
    color: var(--main-color);
}

.btn-outline-secondary:hover {
    background-color: var(--color-9);
    border-color: var(--color-9);
    color: var(--main-color);
}

p {
    font-size: 14px;
    line-height: 24px;
}

a {
    color: var(--color-3);
    text-decoration: underline;
}

a:hover {
    color: var(--color-4);
}


label {
    font-size: 12px;
    line-height: 16px;
    color: var(--main-color);
}

.form-label {
    margin-left: 15px;
}

.form-select,
.form-control {
    border-radius: 12px;
    color: var(--color-1);
    font-size: 14px;
    border: 1px solid var(--color-border);
    height: 48px;
}

textarea.form-control {
    height: inherit;
}

.form-select:focus,
.form-control:focus {
    border: 1px solid var(--color-3);
    color: var(--main-color);
    box-shadow: none;
}