{% extends 'base.html' %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block custom_css %}
    <!-- link to css file -->
    <link rel="stylesheet" href="{% static 'site/css/style.css' %}?v={{ VERSION }}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <!-- ===== preloader start ===== -->
    <div class="preloader">
        <span></span>
    </div>
    <!-- ===== preloader end ===== -->



    <!-- ====== navbar start ====== -->
    <nav class="navbar">
        <div class="container">
            <!-- Brand -->
            <div class="col-6 col-lg-3">
                <a href="{% url 'homepage' %}" class="navbar-brand"></a>
            </div>

            <!-- Navbar links -->
            <div class="d-none d-xxl-flex nav col-lg-6 justify-content-center mb-md-0" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-scroll-nav="1" href="#">О Нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll-nav="2" href="#">Миссия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll-nav="3" href="#">Обратная Связь</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll-nav="4" href="#">Правила и Условия</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-lg-3 d-none d-xxl-flex align-items-center justify-content-end">
                {% if not request.customer %}
                <button type="button" class="btn btn-outline-light openLoginModal">Войти</button>
                <button type="button" class="btn btn-success ms-3 registration openRegistrationModal">Регистрация</button>
                {% else %}
                <a type="button" href="{% url 'customer_profile' %}" class="btn btn-outline-light me-3">Профайл</a>
                <a class="logout" href="{% url 'customer_logout' %}">
                    <i class="icon icon-logout"></i>
                </a>
                {% endif %}
            </div>
            <div class="col-2 d-block d-xxl-none">
                <div class="burger-menu">
                  <a href="" class="burger-menu_button">
                    <span class="burger-menu_lines"></span>
                  </a>
                  <nav class="burger-menu_nav">
                    <a href="#" data-scroll-nav="1" class="nav-link">О Нас</a>
                    <a href="#" data-scroll-nav="2" class="nav-link">Миссия</a>
                    <a href="#" data-scroll-nav="3" class="nav-link">Обратная Связь</a>
                    <a href="#" data-scroll-nav="4" class="nav-link">Правила и Условия</a>
                    {% if not request.customer %}
                    <button type="button" class="btn btn-outline-light mb-3 openLoginModal">Войти</button>
                    <button type="button" class="btn btn-success mb-3 registration openRegistrationModal">Регистрация</button>
                    {% else %}
                    <a type="button" href="{% url 'customer_profile' %}" class="btn btn-outline-light mb-3">Профайл</a>
                    <a class="logout mb-4" href="{% url 'customer_logout' %}">
                        <i class="icon icon-logout"></i>
                    </a>
                    {% endif %}
                  </nav>
                  <div class="burger-menu_overlay"></div>
                </div>
            </div>
        </div>
    </nav>
    <!-- ====== navbar end ======= -->

    <!-- ===== home section start ===== -->
    <section class="home d-flex align-items-center" id="home" data-scroll-index="0">
        <div class="effect-wrap">
            <i class="fas fa-plus effect effect-1"></i>
            <i class="fas fa-plus effect effect-2"></i>
            <i class="fas fa-circle-notch effect effect-3"></i>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <div class="home-text">
                        <h1>Ваш партнёр в мире инвестиций.</h1>
                        <p>Ежедневные идеи, аналитика и сопровождение — в одном месте.</p>
                        {% if not request.customer %}
                        <button type="button" class="btn btn-success registration openRegistrationModal">Регистрация</button>
                        {% else %}
                        <a type="button" href="{% url 'customer_profile' %}" class="btn btn-success">Платформа</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===== home section end ===== -->

    <!-- ===== About Section Start ===== -->
    <section class="about" id="about" data-scroll-index="1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <div class="about-title">
                        <h2>О НАС</h2>
                        <span>Мы — команда трейдеров и аналитиков, посвятивших себя финансовым рынкам. С 2017 года мы ежедневно работаем, чтобы дать каждому возможность торговать эффективно, осознанно и прибыльно.</span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="about-info">
                        <div class="row h-100 align-items-center justify-content-md-center">
                            <div class="about-info-item col-12 col-xxl-3">
                                <h2>12</h2>
                                <span>лет опыта</span>
                            </div>
                            <div class="about-info-item col-12 col-xxl-3">
                                <h2>1500+</h2>
                                <span>довольных клиентов</span>
                            </div>
                            <div class="about-info-item col-12 col-xxl-3">
                                <h2>12,8M$</h2>
                                <span>заработали наши клиенти за 2024 год</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===== About Section End ===== -->

    <!-- ===== Mission Section Start ===== -->
    <section class="mission" id="mission" data-scroll-index="2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xxl-5">
                    <div class="mission-our py-5 d-flex flex-column align-items-start">
                        <h2>Наша Миссия - <span>ВАШ РЕЗУЛЬТАТ</span></h2>
                        <p>Сделать торговлю честной, умной и доступной.</p>
                        {% if not request.customer %}
                        <button type="button" class="btn btn-success openRegistrationModal">Открыть Счет</button>
                        {% else %}
                        <a type="button" href="{% url 'customer_profile' %}" class="btn btn-success">Платформа</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-xxl-7 pt-5 pt-xxl-0">
                    <div class="d-flex flex-wrap mission-item-wrapp-all text-center">
                        <div class="mission-item-wrapp">
                            <div class="mission-item w-100">
                                <i class="icon icon-simplicity"></i>
                                <h3>Простота</h3>
                                <p>Мы упрощаем торговлю, не упрощая рынок.</p>
                            </div>
                        </div>
                        <div class="mission-item-wrapp">
                            <div class="mission-item w-100">
                                <i class="icon icon-lock"></i>
                                <h3>Надёжность</h3>
                                <p>Ты должен быть уверен в платформе — и мы это понимаем.</p>
                            </div>
                        </div>
                        <div class="mission-item-wrapp">
                            <div class="mission-item w-100">
                                <i class="icon icon-cap"></i>
                                <h3>Образование</h3>
                                <p>Делимся знаниями, которые работают в реальных условиях.</p>
                            </div>
                        </div>
                        <div class="mission-item-wrapp">
                            <div class="mission-item w-100">
                                <i class="icon icon-community"></i>
                                <h3>Сообщество</h3>
                                <p>Ты не один. Мы растём вместе с каждым участником.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===== Mission Section End ===== -->

    <!-- ===== Contact Section Section Start ===== -->
    <section class="contact-section" id="contact-section" data-scroll-index="3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <h2 class="text-center text-uppercase">ЗАПРОС НА ОБРАТНУЮ СВЯЗЬ</h2>
                    <div class="contact-form">
                        <form>
                            <div class="mb-3">
                                <label for="contact-section-name" class="form-label">Имя</label>
                                <input type="text" class="form-control" name="contact-section-name" placeholder="Введите свое имя" id="contact-section-name">
                            </div>
                            <div class="mb-3">
                                <label for="contact-section-email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="contact-section-email"  id="contact-section-email" placeholder="Введите свой email">
                            </div>
                            <div class="mb-3">
                                <label for="contact-section-phone" class="form-label">Телефон</label>
                                <input type="text" class="form-control" name="contact-section-phone" id="contact-section-phone" placeholder="Введите свой телефон">
                            </div>
                            <div class="mb-3">
                                <label for="messages" class="form-label">Сообщение</label>
                                <textarea rows="5" class="form-control" name="messages" id="messages"></textarea>
                            </div>
                            <div class="d-grid">
                                <button type="button" class="btn btn-success">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===== Contact Section End ===== -->

    <!-- ===== Rules Section Start ===== -->
    <section class="rules" id="rules" data-scroll-index="4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <p>Эта онлайн-платформа предоставляет широкую информацию, не принимая во внимание особые требования эмитента или особое финансовое положение. Вам необходимо ознакомиться с <a href="#">Правилами и Условиями</a> перед взаимодействием с нашей организацией, чтобы убедиться, что условия дальнейшего сотрудничества удовлетворяют вашим требованиям. Инвестиционные потери возможны при торговле на финансовых рынках; в нашем заявлении о раскрытии рисков содержится дополнительная информация.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ===== Rules Section End ===== -->

    <!-- ===== Partners Section Start ===== -->
    <section class="partners" id="partners">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Наши партнеры:</p>
                </div>
                <div class="col-md-12 text-center">
                    <img class="m-2" src="{% static 'site/img/partners/Kazatomprom.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/Kaspi.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/HalykBank.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/FreedomBank.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/AltynBank.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/HomeCreditBank.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/JysanBank.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/ForteBank.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/Chevron.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/Mastercard.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/Visa.png' %}" alt="" height="40" loading="lazy">
                    <img class="m-2" src="{% static 'site/img/partners/Binance.png' %}" alt="" height="40" loading="lazy">
                </div>
            </div>
        </div>
    </section>
    <!-- ===== Partners Section End ===== -->


    <!-- ===== Footer Start ===== -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Регистрационный номер компании CRD: 23551</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ===== Footer End ===== -->

    <!-- Modal -->
    <div id="registrationModal" class="mmodal">
      <div class="modal-content">
        <div class="modal-header">
          <i class="icon icon-close close registrationClose"></i>
        </div>
        <p class="title">Регистрация</p>
        <form id="registrationForm">
            <div class="mb-3">
                <label for="name" class="form-label">ФИО</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Введите свое ФИО">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Введите свой email">
            </div>
            <div class="mb-3">
                <label for="phone_number" class="form-label">Телефон</label>
                <input type="text" name="phone_number" class="form-control" id="phone_number" placeholder="Введите свой телефон">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Пароль</label>
                <div class="password-wrapp">
                    <input type="password" name="password1" class="form-control" id="password1" placeholder="Введите свой пароль">
                    <i class="icon icon-eye-slash passwordToggle"></i>
                </div>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Подтвердите пароль</label>
                <div class="password-wrapp">
                    <input type="password" name="password2" class="form-control" id="password2" placeholder="Введите подтверждение пароля">
                    <i class="icon icon-eye-slash passwordToggle"></i>
                </div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success" id="registrationSend">Регистрация</button>
            </div>
        </form>
      </div>
    </div>

    <div id="loginModal" class="mmodal">
      <div class="modal-content">
        <div class="modal-header">
          <i class="icon icon-close close loginClose"></i>
        </div>
        <form id="loginForm">
            <p class="title">Войти</p>
            <div class="mb-3">
                <label for="loginFormEmail" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="loginFormEmail" placeholder="Введите свой email">
            </div>
            <div class="mb-3">
                <label for="loginFormPassword" class="form-label">Пароль</label>
                <div class="password-wrapp">
                    <input type="password" name="password" id="loginFormPassword" class="form-control" placeholder="Введите свой пароль">
                    <i class="icon icon-eye-slash passwordToggle"></i>
                </div>
            </div>
            <div class="d-flex w-100  justify-content-between">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" name="long" id="loginFormCheck">
                    <label class="form-check-label" for="loginFormCheck">Запомнить меня</label>
                </div>
                <a href="#" class="big" id="showForgotPasswordForm">Забыли пароль?</a>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success" id="loginSend">Войти</button>
            </div>
        </form>
        <form id="forgotPasswordForm">
            <p class="title">Восстановить Пароль</p>
            <div class="mb-3">
                <label for="forgotPasswordFormEmail" class="form-label">Email</label>
                <input type="email" name="forgotPasswordFormEmail" class="form-control" id="forgotPasswordFormEmail" placeholder="Введите свой email">
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success" id="forgotPasswordFormSend">Отправить</button>
            </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block custom_js %}
    <!-- Scroll js -->
    <script src="{% static 'site/js/scrollIt.min.js' %}?v={{ VERSION }}"></script>
    <!-- main js file -->
    <script src="{% static 'site/js/main.js' %}?v={{ VERSION }}"></script>
{% endblock %}