{% extends 'base.html' %}

{% load static %}

{% block title %}Профайл{% endblock %}

{% block custom_css %}
    <!-- link to css file -->
    <link rel="stylesheet" href="{% static 'site/css/style.css' %}">

    <!-- link to css file -->
    <link rel="stylesheet" href="{% static 'site/css/profile.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <!-- ===== preloader start ===== -->
    <div class="preloader">
        <span></span>
    </div>
    <!-- ===== preloader end ===== -->
    <div class="container-header mb-3">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="{% url 'homepage' %}" class="navbar-brand">
                        <svg width="180" height="40" role="img" src="img/logo_desc_green.svg"></svg>
                    </a>
                </div>
                {% with request.resolver_match.url_name as url_name %}
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'customer_profile' %}" class="nav-link {% if url_name == 'customer_profile' %}active{% endif %}">Платформа</a></li>
                    <li><a href="{% url 'customer_profile_bills' %}" class="nav-link {% if url_name == 'customer_profile_bills' %}active{% endif %}">Счета</a></li>
                    <li><a href="{% url 'customer_profile_account' %}" class="nav-link {% if url_name == 'customer_profile_account' %}active{% endif %}">Аккаунт</a></li>
                    <li><a href="{% url 'customer_profile_settings' %}" class="nav-link {% if url_name == 'customer_profile_settings' %}active{% endif %}">Настройки</a></li>
                 </ul>
                {% endwith %}
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-success me-3">Пополнение</button>
                    <a class="logout" href="{% url 'customer_logout' %}">
                        <i class="icon icon-logout"></i>
                    </a>
                </div>
            </header>
        </div>
    </div>
    {% block prifile_content %}{% endblock %}
{% endblock %}

{% block custom_js %}
    <!-- main js file -->
    <script src="{% static 'site/js/profile.js' %}"></script>
{% endblock %}