{% extends 'base.html' %}

{% load static %}

{% block title %}Профайл{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <!-- link to css file -->
    <link rel="stylesheet" href="{% static 'site/css/style.css' %}?v={{ VERSION }}">

    <!-- link to css file -->
    <link rel="stylesheet" href="{% static 'site/css/profile.css' %}?v={{ VERSION }}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <!-- ===== preloader start ===== -->
    <div class="preloader">
        <span></span>
    </div>
    <!-- ===== preloader end ===== -->
    <div class="container-header mb-3">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                <div class="col col-md-2">
                    <a href="{% url 'homepage' %}" class="d-none d-md-flex navbar-brand">
                        <svg width="180" height="40" role="img" src="img/logo_desc_green.svg"></svg>
                    </a>
                    <a href="{% url 'homepage' %}" class="d-md-none navbar-brand-mob">
                        <svg width="30" height="40" role="img" src="img/logo_mob_green.svg"></svg>
                    </a>
                </div>
                {% with request.resolver_match.url_name as url_name %}
                <ul class="nav col-12 d-none d-xl-flex col-md-auto justify-content-center">
                    <li><a href="{% url 'customer_profile' %}" class="nav-link {% if url_name == 'customer_profile' %}active{% endif %}">Платформа</a></li>
                    <li><a href="{% url 'customer_profile_bills' %}" class="nav-link {% if url_name == 'customer_profile_bills' %}active{% endif %}">Счета</a></li>
                    <li><a href="{% url 'customer_profile_account' %}" class="nav-link {% if url_name == 'customer_profile_account' %}active{% endif %}">Аккаунт</a></li>
                    <li><a href="{% url 'customer_profile_settings' %}" class="nav-link {% if url_name == 'customer_profile_settings' %}active{% endif %}">Настройки</a></li>
                 </ul>
                {% endwith %}
                <div class="col col-xl-3 text-end">
                    <button type="button" class="openReplenishmentModal btn btn-success me-3">Пополнение</button>
                    <a class="logout d-none d-xl-inline" href="{% url 'customer_logout' %}">
                        <i class="icon icon-logout"></i>
                    </a>
                </div>
                <div class="col-2 col-md-1 d-xl-none">
                    <div class="burger-menu d-block d-xl-none">
                      <a href="" class="burger-menu_button">
                        <span class="burger-menu_lines"></span>
                      </a>
                      {% with request.resolver_match.url_name as url_name %}
                      <nav class="burger-menu_nav">
                        <a href="{% url 'customer_profile' %}" class="nav-link {% if url_name == 'customer_profile' %}active{% endif %}">Платформа</a>
                        <a href="{% url 'customer_profile_bills' %}" class="nav-link {% if url_name == 'customer_profile_bills' %}active{% endif %}">Счета</a>
                        <a href="{% url 'customer_profile_account' %}" class="nav-link {% if url_name == 'customer_profile_account' %}active{% endif %}">Аккаунт</a>
                        <a href="{% url 'customer_profile_settings' %}" class="nav-link {% if url_name == 'customer_profile_settings' %}active{% endif %}">Настройки</a>
                        <a class="logout nav-link" href="{% url 'customer_logout' %}"><i class="icon icon-logout"></i></a>
                      </nav>
                      {% endwith %}
                      <div class="burger-menu_overlay"></div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    {% block profile_content %}{% endblock %}

    <div id="replenishmentModal" class="mmodal">
  <div class="modal-content">
    <div class="modal-header">
      <i class="icon icon-close close closeReplenishmentModal"></i>
    </div>
    <form id="replenishmentForm">
        <div id="selectedBlock">
            <p class="title">Пополнить Счет</p>
            <div class="mb-3">
                <label for="type" class="form-label">Метод</label>
                <select class="form-select" name="type" id="type" aria-label="Метод">
                  <option value="" disabled selected>Выберете метод пополнения</option>
                  <option value="bank_cards">Банковская карта</option>
                  <option value="crypto">Криптовалютный кошелек</option>
                </select>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary closeReplenishmentModal">Отменить</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-success" disabled id="typeSend">Подтвердить</button>
                </div>
            </div>
        </div>
        <div id="bankCardsBlock">
            <p class="title">Реквизиты Получателя</p>
            <div class="replenishment-wrapp">
                    <table class="replenishment-table table align-middle">
                      <tbody>
                        <tr>
                          <td class="text-start no-border">Получатель:</td>
                          <td class="text-end no-border" id="bankCardsBlockName">...</td>
                        </tr>
                        <tr>
                          <td class="text-start no-border">Банк Получателя:</td>
                          <td class="text-end no-border" id="bankCardsBlockBankName">...</td>
                        </tr>
                        <tr>
                          <td class="text-start no-border">Номер Карты:</td>
                          <td class="text-end no-border" id="bankCardsBlockCardNumber">...</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            <div class="row">
                <div class="col mt-3">
                    <button type="button" class="btn btn-success closeReplenishmentModal">Закрыть</button>
                </div>
            </div>
        </div>
        <div id="cryptoBlock">
            <p class="title">Криптовалютный Кошелек</p>
            <div class="replenishment-wrapp">
                <label for="crypto" class="form-label">Криптовалюта</label>
                <input class="form-control" id="crypto" name="crypto" disabled value="USDT"/>
                <div class="mt-3">
                    <label for="cryptoBlockName" class="form-label">Сеть</label>
                    <select class="form-select" name="cryptoBlockName" id="cryptoBlockName" aria-label="Котировка">
                      <option value="" selected disabled>Выберите сеть</option>
                    </select>
                </div>
                <div class="mt-3 d-flex flex-row">
                    <table class="replenishment-table table align-middle">
                      <tbody>
                        <tr>
                          <td class="text-start no-border" style="width:50px">Адрес:</td>
                          <td class="text-end no-border" id="cryptoBlockNumber"></td>
                          <td class="text-end no-border" id="cryptoBlockCopy" style="width:30px"><i class="icon icon-copy cryptoCopy" id="cryptoCopy"></i></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <button type="button" class="btn btn-success closeReplenishmentModal">Закрыть</button>
                </div>
            </div>
        </div>
    </form>
  </div>
</div>
{% endblock %}

{% block custom_js %}
    <!-- main js file -->
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js" integrity="sha256-AlTido85uXPlSyyaZNsjJXeCs07eSv3r43kyCVc8ChI=" crossorigin="anonymous"></script>
    <script src="{% static 'site/js/profile.js' %}?v={{ VERSION }}"></script>
        <script>
        $(document).ready(function () {
            $( "#id_birth_date" ).datepicker({
                dateFormat: 'yy-mm-dd',
                monthNames : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
	            dayNamesMin : ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
            });
        });
    </script>
{% endblock %}