<div class="card card-full-h ">
    <div class="row mb-3">
        <div class="col">
            <h2>Пароль для Входа</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-9 col-xxl-6">
            <form id="passwordForm" method="post">
                <div class="mb-3">
                    <label for="loginFormPassword1" class="form-label">Старый пароль</label>
                    <input type="password" name="password1" id="loginFormPassword1" class="form-control" placeholder="Введите старый пароль">
                </div>
                <div class="mb-3">
                    <label for="loginFormPassword2" class="form-label">Новый пароль</label>
                    <input type="password" name="password2" id="loginFormPassword2" class="form-control" placeholder="Введите новый пароль">
                </div>
                <div class="mb-3">
                    <label for="loginFormPassword3" class="form-label">Подтвердите пароль</label>
                    <input type="password" name="password3" id="loginFormPassword3" class="form-control" placeholder="Введите подтверждение пароля">
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn btn-success" id="passwordSend">Подтвердить</button>
                </div>
            </form>
        </div>
    </div>
</div>