{% extends 'base_profile.html' %}

{% load static %}

{% block prifile_content %}
    <div class="container">
    <div class="row mb-4">
        <div class="col">
            {% include "_platform.html" %}
        </div>
    </div>
      <div class="row mb-4">
        <div class="col-3">
            {% include "_profile.html" %}
        </div>
        <div class="col-6">
            {% include "_transaction.html" %}
        </div>
        <div class="col-3">
          {% include "_contacts.html" %}
        </div>
      </div>
    </div>
{% endblock %}
