{% extends 'base_profile.html' %}

{% load static %}

{% block prifile_content %}
    <div class="container">
    <div class="row mb-4">
        <div class="col">
            <div class="card">profile</div>
        </div>
    </div>
      <div class="row">
        <div class="col-3">
            <div class="card">
                {{ request.customer.iban }}
                {{ request.customer.user.name }}
            </div>
        </div>
        <div class="col-7">
            <div class="card">asdasd</div>
        </div>
        <div class="col-2">
          <div class="card">asdasd</div>
        </div>
      </div>
    </div>
{% endblock %}
